<img src="assets/images/organicJumbotron.jpg" class="cover" alt="">

<div class="single_post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="single_post_title">Who are we ? why are we unique?</div>
        <div class="single_post_text">
          <p>In order to get a good idea of what we're all about, it's important to look at our history.
            Aenean finibus velit id urna vehicula, nec maximus est sollicitudin. Praesent at tempus lectus, eleifend blandit felis. Fusce augue arcu, consequat a nisl aliquet, consectetur elementum turpis. Donec iaculis lobortis nisl, et viverra risus imperdiet eu. Etiam mollis posuere elit non sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis arcu a magna sodales venenatis. Integer non diam sit amet magna luctus mollis ac eu nisi. In accumsan tellus ut dapibus blandit.</p>

          <div class="single_post_quote text-center">
            <div class="quote_image"><img src="assets/images/quote.png" ></div>
            <div class="quote_text">The demand for organic food is growing at a remarkable rate. Consumers have made it clear that they want organic produce and every sector of the food chain is responding, with the kind of results we have just seen.</div>
            <div class="quote_name">Prince Charles (Prince of Wales)</div>
          </div>

          <br>
            <h3 class="single_post_title">Our Team</h3>
          <p>Our team has extensive experience and have worked with leading Developers</p>
          <br>

          <div class="container">
            <div class="row">
              <div class="col-md-6 font-weight-bold">
                  <img src="assets/images/me.jpg" class="teamImage">
                  <br>
                  Louai Hamadi. <br>
                  Full-Stack Web Developer
              </div>
              <div class="col-md-6">
                <p>Louai is the developer of this website and an organic consumer for years, this website was built using Angular 7 and Firebase </p>
                <br>
                  <p>Louai Recieved a certificate in Web Development from the Technion (Israel Institute of science and technonolgy). </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
